<!-- 投稿詳細 -->

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="container mt-3">
<div class="row">

<div class="col-md-3">
  <%= render 'list', book: @new_book, user: @user %>
</div>

<div class="col-md-8 offset-md-1">
<h2 class="pb-1">Book detail</h2>

<table class="table">
<tbody class="px-1">
  <tr class="align-top">
  <td class="col-2">
    <%= link_to user_path(@book.user_id) do %>
      <%= image_tag @book.user.get_profile_image(100,100) %><br>
      <%= @book.user.name %>
    <% end %>
  </td>

  <td class="col-2">
    <%= link_to book_path(@book.id) do %>
      <%= @book.title %>
    <% end %>
  </td>

  <td class="col-2"><%= @book.body %></td>

  <td class="col-2">
    <% if @book.favorited_by?(current_user) %>
      <%= link_to book_favorites_path(@book), method: :delete do %>
        <i class="fa-solid fa-heart"></i>&thinsp;<%= @book.favorites.count %>
      <% end %>
    <% else %>
      <%= link_to book_favorites_path(@book), method: :post do %>
        <i class="fa-solid fa-heart"></i>&thinsp;<%= @book.favorites.count %>
      <% end %>
    <% end %>
  </td>

  <td class="col-2"><%= @book.book_comments.count %>件のコメント</td>

  <% if @book.user == current_user %>
    <td class="col-1"><a class="btn btn-success btn-sm mb-2" href="/books/<%= @book.id %>/edit">Edit</a></td>
    <td class="col-1"><a class="btn btn-danger btn-sm mb-2" href="/books/<%= @book.id %>" data-method="delete" data-confirm="本当に消しますか？">Destroy</a></td>
  <% end %>
</tr>
</tbody>
</table>

<% @book.book_comments.each do |book_comment| %>
  <div class="ml-5 mb-2 d-flex">
    <%= link_to user_path(@book.user_id) do %>
      <%= image_tag book_comment.user.get_profile_image(100,100)%><br>
      <%= book_comment.user.name %>
    <% end %>

    <%= book_comment.comment %>

    <% if book_comment.user == current_user %>
      <a class="btn btn-danger btn-sm ml-3" href="/books/<%= @book.id %>/book_comments/<%= book_comment.id %>" data-method="delete">Destroy</a>
    <% end %>
  </div>
<% end %>

<%= form_with model: [@book, @new_book_comment] do |f| %>
  <div class="form-group mt-5">
    <label>Comment</label><br>
    <textarea class="form-control" name="book_comment[comment]"></textarea>
  </div>

  <div class="form-group">
  <button class="btn btn-secondary" type="submit">
    送信
  </button>
  </div>
<% end %>

</div>
</div>
</div>
